* {
  /* Applies to every element, does not use inheritence */
  /* useful if you want to apply a property to all elements that doesn't or would not get inherited otherwise*/
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

/* Page sections */

body {
  /* Any style we put here gets inherited, so much different than universal selector */
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

article {
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
}

.header-style-main {
  background-color: #9a9a9aa7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

.aside-related-post-style {
  background-color: #9a9a9aa7;
  border-top: 5px solid #007777;
  border-bottom: 5px solid #007777;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

.post-header {
  margin-bottom: 40px;
}

/* Smaller elements */

h1,
h2,
h3 {
  color: rgb(8, 120, 128);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  font-family: sans-serif;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-post {
  list-style: none;
}

/* .first-li-bold {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  /* color: red; */
}

/* Psuedo classes are of the format element:psuedo-class{} */
/* Misconception, won't work, was just to demonstrate */

/* Will now be styling hyperlinks */
a:link {
  color: #007777;
  text-decoration: none;
}

a:visited {
  color: #007777;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  color: greenyellow;
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts */

/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */

.post-image {
  width: 100%;
  height: auto;
  margin: 100px;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}
