* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

/* Navigation */

.navigation-container {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 1fr;
  background-color: rgb(90, 80, 80);
  align-items: center;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  min-height: 100px;
  column-gap: 10px;
  /* padding-top: 20px; */
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title-nav:link,
.title-nav:visited {
  /* display: grid; */
  /* background-color: blue; */
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(247, 248, 248);
  font-weight: 700;
  font-size: 25px;
  /* height: 100%; */

  /* align-self: center;  */
  /* padding-top: 20px; */
}

.title-nav:hover,
.title-nav:hover {
  /* box-shadow: 0px 10px 10px red; */
}

.search-items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.vehicle-nav-item:link,
.vehicle-nav-item:visited {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: rgb(1, 32, 56);
  padding: 5px 5px;
}

.vehicle-nav-item:hover,
.vehicle-nav-item:active {
  background-color: rgb(136, 196, 242);
  display: inline-block;

  border-radius: 5px;
}

.account-nav:link,
.account-nav:visited {
  /* align-self: end; */
  justify-self: end;
  margin-right: 10px;
  padding: 5px 5px;
}

.account-nav:hover,
.account-nav:active {
  background-color: rgb(136, 196, 242);
  border-radius: 5px;
  /* align-self: end; */
  /* justify-self: end; */
}

/*icons */
.account-icon {
  height: 24px;
  width: 24px;
  stroke: rgb(1, 32, 56);
}

.marketplace-logo {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  stroke: rgb(1, 32, 56);
  stroke-width: 16px;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* fill: rgb(1, 32, 56); */
}

/* Search container */
.high-level-container {
  /* width: 2000px; */
  max-width: 2000px;
  margin: 0 auto;
}

.meat-and-potatoes {
  padding-right: 35px;
  margin-left: 40px;
}

.intro-about-container {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  row-gap: 150px;
  column-gap: 180px;
  margin-top: 70px;
  /* border-radius: 7px;
  margin: 5px 5px; */
  /* background-color: gray; */
  /* height: 320px; */
  /* object-fit: contain; */
}

.informational-image {
  width: 400px;
  /* object-fit: contain; */
  height: 600px;
  border-radius: 7px;
  align-self: end;
  /* display: inline-block; */
}

.quicksearch-input {
  font-size: 20px;
}

.about-us {
  text-align: center;
}

.schuler-motto {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.business-overview {
  line-height: 1.3;
}
