* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif; /*if there is no connection, or an issue loading inter for an element, sans-serif is backup*/
  background-color: rgba(0, 0, 0, 0.184);
}

/* Navigation */

.navigation-container {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 1fr;
  background-color: rgb(90, 80, 80);
  align-items: center;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  min-height: 100px;
  column-gap: 10px;
  /* padding-top: 20px; */
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title-nav:link,
.title-nav:visited {
  /* display: grid; */
  /* background-color: blue; */
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: bisque;
  font-weight: 700;
  font-size: 30px;
  /* height: 100%; */

  /* align-self: center;  */
  /* padding-top: 20px; */
}

.title-nav:hover,
.title-nav:hover {
  /* box-shadow: 0px 10px 10px red; */
}

.search-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.vehicle-nav-item:link,
.vehicle-nav-item:visited {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: bisque;
  padding: 5px 5px;
}

.vehicle-nav-item:hover,
.vehicle-nav-item:active {
  background-color: rgba(61, 55, 55, 0.779);
  display: inline-block;

  border-radius: 5px;
}

.account-nav:link,
.account-nav:visited {
  /* align-self: end; */
  justify-self: end;
  margin-right: 10px;
  padding: 5px 5px;
}

.account-nav:hover,
.account-nav:active {
  background-color: rgba(61, 55, 55, 0.779);
  border-radius: 5px;
  /* align-self: end; */
  /* justify-self: end; */
}

/*icons */
.account-icon {
  height: 24px;
  width: 24px;
  stroke: rgb(1, 32, 56);
}

.marketplace-logo {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  stroke: rgb(1, 32, 56);
  stroke-width: 16px;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* fill: rgb(1, 32, 56); */
}

/* Search container */
.high-level-container {
  /* width: 2000px; */
  max-width: 2000px;
  min-width: 2000px;
  margin: 0 auto;
}

.meat-and-potatoes {
  padding-right: 35px;
  margin-left: 40px;
}

.intro-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr;
  row-gap: 150px;
  column-gap: 50px;
  margin-top: 70px;
  margin-bottom: 150px;
}

.informational-image {
  width: 500px;
  /* object-fit: contain; */
  height: 600px;
  border-radius: 7px;
  justify-self: center;
  /* display: inline-block; */
}

.informational-image-2 {
  width: 500px;
  /* object-fit: contain; */
  height: 300px;
  border-radius: 7px;
  justify-self: start;
  /* display: inline-block; */
}

.informational-image-3 {
  width: 400px;
  /* object-fit: contain; */
  height: 300px;
  border-radius: 7px;
  justify-self: center;
  /* display: inline-block; */
}

.double-image-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  row-gap: 15px;
}

.quicksearch-input {
  font-size: 20px;
}

.about-us {
  text-align: center;
}

.schuler-motto {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.business-overview {
  line-height: 1.3;
}

.visit-store:link,
.visit-store:visited {
  background-color: rgb(90, 80, 80);
  text-decoration: none;
  color: beige;
  padding: 15px 25px;
  font-size: 22px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 15px;
}

.visit-store:hover,
.visit-store:active {
  background-color: rgba(90, 80, 80, 0.779);
}

.special-holder {
  text-align: center;
}

.what-makes-special {
  display: inline-block;
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  width: 50%;
  /* background-color: rgb(90, 80, 80); */
  /* border-radius: 7px; */
  /* padding: 30px; */
  /* border: 1px solid black; */

  /* par */
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.service-offered {
  box-shadow: 0px 30px 30px 0 rgba(0, 0, 0, 0.563);
}

.service-offered img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 400px;
}

.info-box-list {
  list-style: none;
}

.info-box-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-size: 24px;
}

.info-box h3 {
  font-size: 40px;
  margin-bottom: 24px;
}

.info-box {
  padding: 24px;
}
